<a href="https://colab.research.google.com/github/rtxverma123/Python/blob/main/Pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [3]:
import pandas as pd
import numpy as np

**tHE DATA OBJECT OF PANDAS IS SERIES**

In [4]:
lst = ['a','b','c']
my_data = [20,30,40]
arr = np.array(my_data)
d = {'a':10,'b':20, 'c':30}

In [5]:
pd.Series(data=my_data)

0    20
1    30
2    40
dtype: int64

Indexing a alist for another list

In [8]:
pd.Series(data=my_data,index=lst)

a    20
b    30
c    40
dtype: int64

Creating Series On our Own

In [10]:
s1= pd.Series([1,2,3,4],['Germany', 'USSR', 'Japan','Germany'])
s1

Germany    1
USSR       2
Japan      3
Germany    4
dtype: int64

Grabbing Info On Series

In [11]:
s1['USSR']

2