<a href="https://colab.research.google.com/github/rtxverma123/Python/blob/main/Pandas_2_Multi_Level_dataFrame.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import numpy as np
import pandas as pd

**Multi-Level Data Frames**

In [3]:
# Index Levels
outside = ['G1','G1','G1','G2','G2','G2']
inside = [1,2,3,1,2,3]
hier_index = list(zip(outside,inside))
hier_index = pd.MultiIndex.from_tuples(hier_index)

In [4]:
hier_index

MultiIndex([('G1', 1),
            ('G1', 2),
            ('G1', 3),
            ('G2', 1),
            ('G2', 2),
            ('G2', 3)],
           )

In [5]:
df = pd.DataFrame(np.random.randn(6,2),index=hier_index,columns=['A','B'])
df

             A         B
G1 1 -0.578700 -0.433807
   2 -0.731429  0.428814
   3 -0.696855  1.632291
G2 1  0.500976 -1.477085
   2  1.183974 -1.440021
   3  0.787504 -0.312234

**Calling data Text**

In [12]:
x = df.loc['G1']
x

          A         B
1 -0.578700 -0.433807
2 -0.731429  0.428814
3 -0.696855  1.632291

In [13]:
x.loc[1]

A   -0.578700
B   -0.433807
Name: 1, dtype: float64

In [15]:
df.index.names=['Groups','Num']

In [16]:
df

                   A         B
Groups Num
G1     1   -0.578700 -0.433807
       2   -0.731429  0.428814
       3   -0.696855  1.632291
G2     1    0.500976 -1.477085
       2    1.183974 -1.440021
       3    0.787504 -0.312234

In [17]:
df

                   A         B
Groups Num
G1     1   -0.578700 -0.433807
       2   -0.731429  0.428814
       3   -0.696855  1.632291
G2     1    0.500976 -1.477085
       2    1.183974 -1.440021
       3    0.787504 -0.312234

Getting data where Num is 1 for both

In [18]:
df.xs(1,level='Num')

               A         B
Groups
G1     -0.578700 -0.433807
G2      0.500976 -1.477085