<a href="https://colab.research.google.com/github/rtxverma123/Python/blob/main/Pandas_missing_Data.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import numpy as np
import pandas as pd

In [2]:
df = pd.DataFrame({'A':[1,2,np.nan],
                  'B':[5,np.nan,np.nan],
                  'C':[1,2,3]})

In [3]:
df

     A    B  C
0  1.0  5.0  1
1  2.0  NaN  2
2  NaN  NaN  3

In [4]:
df.dropna()

     A    B  C
0  1.0  5.0  1

In [5]:
df

     A    B  C
0  1.0  5.0  1
1  2.0  NaN  2
2  NaN  NaN  3

**Drop Missing Values**

In [6]:
df.dropna(axis=1)

   C
0  1
1  2
2  3

In [7]:
df.dropna(thresh=2)

     A    B  C
0  1.0  5.0  1
1  2.0  NaN  2

**Filling Missing Values**

In [8]:
df['A']

0    1.0
1    2.0
2    NaN
Name: A, dtype: float64

In [10]:
df.fillna(value='fILL vALUE') #Filling Missing Values

            A           B  C
0           1           5  1
1           2  fILL vALUE  2
2  fILL vALUE  fILL vALUE  3

In [9]:
df['A'].fillna(value=df['A'].mean()) #Fill values with mean of all the values in a a coloumn

0    1.0
1    2.0
2    1.5
Name: A, dtype: float64